.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #510bf4;
  padding: 0.5rem 1rem;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.navbar-welcome {
  margin-right: 15px;
  font-weight: 500;
  font-size: 0.95em;
  color: #f0f0f0;
}

.navbar-brand {
  color: rgb(244, 240, 11 );
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links a, .navbar-links button {
  color: rgb(244, 240, 11);
  text-decoration: none;
  margin-left: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.navbar-links a:hover, .navbar-links button:hover {
  color: #ddd;
}

.cart-link {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
}

.logout-button {
  padding: 5px 10px;
}